[Desktop Entry]
Version=1.0
Type=Application
Name=Linspeed
Exec=linspeed
Icon=/usr/share/icons/linspeed.svg
Terminal=false
Comment=Internet connection speed test
Comment[en_GB]=Internet connection speed test
Comment[pl]=Test prędkości łącza internetowego
Comment[ru]=Скорость соединения тест Интернет
Categories=Qt;Utility;Network;
